@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Nunito", sans-serif;
  color: black;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background: url("cbpnk.webp") no-repeat center;
  background-size: cover;
  width: 100%;
  -webkit-animation: backgroundZoomAnimate 20s forwards;
  animation: backgroundZoomAnimate 20s forwards;
}

@-webkit-keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

@keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.profile-card {
  box-shadow: 0 18px 200px -60px black;
  border-radius: 50px;
  width: 450px;
  position: relative;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.2509803922);
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
@media screen and (max-width: 1080px) {
  .profile-card {
    width: auto;
  }
}
@media screen and (max-height: 1920px) {
  .profile-card {
    height: auto;
  }
}
.profile-card__img img {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  box-shadow: 0 10px 60px -10px rgba(13, 28, 39, 0.5);
}
@media screen and (max-width: 1080px) {
  .profile-card__img img {
    width: auto;
  }
}

@media screen and (max-height: 1920px) {
  .profile-card__img img {
    height: auto;
  }
}

.profile-card__desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.profile-card__desc h1 {
  font-size: 2rem;
  font-weight: bold;
}
.profile-card__desc h1 + div {
  font-size: 15px;
}
.profile-card__info {
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 1000px) {
  .profile-card__info {
    gap: 10px;
  }
}
.profile-card__info > div {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.profile-card__info > div > *:first-child {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1rem;
  margin-bottom: 10px;
}
.profile-card__info > div > *:last-child {
  font-size: 10px;
  opacity: 0.7;
}
.profile-card__social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.profile-card__social a {
  display: inline-flex;
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 40%;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s;
}
@media screen and (max-width: 2000px) {
  .profile-card__social a {
    width: 40px;
    height: 40px;
    margin: 5px;
  }
}
@media screen and (min-width: 100px) {
  .profile-card__social a:hover {
    transform: scale(1.2) translateY(-5px);
  }
}
.profile-card__social a.facebook {
  background: linear-gradient(45deg, #527ad1, #094579, #108dfa);
  box-shadow: 0 4px 30px rgba(43, 98, 169, 0.5);
}
.profile-card__social a.twitter {
  background: linear-gradient(45deg, #1da1f2, #0078d7);
  box-shadow: 0 4px 30px rgba(19, 127, 212, 0.7);
}
.profile-card__social a.instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6);
}
.profile-card__social a.youtube {
  background: linear-gradient(45deg, #ff4b4b, #ff0000, #bd0000, #ff4343);
  box-shadow: 0 4px 30px rgba(43, 98, 169, 0.4);
}
.profile-card__social a.github {
  background: linear-gradient(45deg, #333333, #2e3235, #626b73);
  box-shadow: 0 4px 30px rgba(63, 65, 67, 0.6);
}
.profile-card__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media screen and (max-width: 2000px) {
  .profile-card__actions {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.profile-card__actions > button {
  font-weight: bold;
  font-size: 15px;
  padding: 10px 0;
  min-width: 250px;
  border-radius: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.2s;
}
@media screen and (max-width: 2000px) {
  .profile-card__actions > button {
    min-width: 170px;
  }
}
@media screen and (max-width: 2000px) {
  .profile-card__actions > button {
    min-width: inherit;
    width: 100%;
    max-width: 350px;
  }
}
@media screen and (min-width: 100px) {
  .profile-card__actions > button:hover {
    transform: translateY(-5px);
  }
}
/*
.profile-card__actions > button.blue1 {
  background: linear-gradient(-45deg, #1da1f2, #0e71c8);
  box-shadow: 0 4px 30px rgba(19, 127, 212, 0.4);
}
.profile-card__actions > button.blue1:hover {
  box-shadow: 0 7px 30px rgba(19, 127, 212, 0.75);
}*/

.profile-card__actions > button.orange2 {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0 4px 30px rgba(223, 45, 70, 0.35);
}
.profile-card__actions > button.orange2:hover {
  box-shadow: 0 7px 30px rgba(223, 45, 70, 0.75);
}
